{% extends "base.html" %}
{% block title %}{{user.name}}{% endblock %}
{% block csss %}
	<style type="text/css">
		.container textarea {
			color: #333;
			font-size: 12px;
		}
		.container input {
			color: #333;
			font-size: 12px;
		}
		.container select {
			color: #333;
			font-size: 12px;
		}



		.label-title{
			padding-left: 5px;
			border-left: 1px solid #CCC;
			color: #666;
			font-size: 10px;
		}

		.track{
			color:#AAA;
		}

		.track-time{
			border-bottom: 1px dashed #DDD;
		}

		.track-content{
			border-bottom: 1px dashed #DDD;
			margin-left: 5px;
		}

		h1{font-family: Tahoma, Verdana}

		
	</style>
{% endblock %}

{% block container %}
<div class="container">

		<div class="page-header">
			<h1>用户信息</h1>
		</div>

		<div id="div_info">
			<div class=" row form-group">
				<div class="col-lg-4">
					<label for="number" class="label-title">工号</label>
					<input type="text"  id="number" class="form-control" disabled value="{{ user.number }}" />
				</div>
			</div>

			<div class=" row form-group">
				<div class="col-lg-4">
					<label for="name" class="label-title">用户名</label>
					<input type="text"  id="name" class="form-control" value="{{ user.name }}" />
				</div>
			</div>

			<div class=" row form-group">
				<div class="col-lg-4">
					<label for="passwd"  class="label-title">
						<input id="check_mod_passwd" type="checkbox" value="" />
						修改密码
					</label>
					<input type="text"  id="passwd" class="form-control" value="" />
				</div>
			</div>

			<div class="form-group">
				<a id="btn_save_user_info" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>保存</a>
				<a id="btn_save_user_info" href="/manage/logout" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span>注销登录</a>
			</div>
		</div>
		
	</div>
{% endblock %}

{% block scripts %}

	<script type="text/javascript">


		if ($("#check_mod_passwd").prop('checked'))
		{
			$("#passwd").show()
			$("#passwd").attr("disabled", false);
		}
		else
		{
			$("#passwd").hide()
			$("#passwd").attr("disabled", true);
		}

		$("#check_mod_passwd").change(function(){

			if ($("#check_mod_passwd").prop('checked'))
			{
				$("#passwd").show()
				$("#passwd").attr("disabled", false);
			}
			else
			{
				$("#passwd").hide()
				$("#passwd").attr("disabled", true);
			}
		});

		$("#btn_save_user_info").click(function(){

			if ($("#check_mod_passwd").prop('checked'))
			{
				$.post("/manage/user/{{user.id}}/edit",
				{
					"name":$("#name").val(),
					"password":$("#passwd").val()
				},
				function(id)
				{
				}
				);
			}
			else
			{
				$.post("/manage/user/{{user.id}}/edit",
				{
					"name":$("#name").val()
				},
				function(id)
				{}
				);
			}

		});

	</script>
{% endblock %}